@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}

body {

min-height: 100vh;
  font-family: var(--font-roboto), sans-serif;
}

h1 {
  @apply text-3xl font-bold mb-4;
}

h2 {
  @apply text-2xl font-semibold mb-3;
}

h3 {
  @apply text-xl font-medium mb-2;
}